body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Add to client/src/index.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd; /* Light grey border */
}

.table th {
  background-color: #f2f2f2; /* Light grey background */
}

.table tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra stripes */
}
