

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  nav {
    background-color: #98ff98; /* Slight green mint tint */
    padding: 10px 0;
    width: 100%; /* Ensures nav takes the full width */
    box-sizing: border-box; /* Includes padding in the element's total width */
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .container img {
    margin-right: 20px; /* Adjust spacing between logo and title as needed */
  }
  
  .container h1 {
    margin: 0; /* Removes default margin */
    color: #e34e99; /* Sets the color to a pinkish shade */
  }